/*  small devices */
.header .title {
	margin-right: 0;
	letter-spacing: 0;
	/*border: 1px solid red;*/
}

.header .line-1 {
	font-size: 56px;
}
.header .line-2 {
	margin-left: 148px;
	padding-bottom: 55px;
}
.symbol.s-01 {
	font-size: 44px;
	top: -15px;
	left:-10px;
}
.symbol.s-02 {
	font-size: 38px;
	top: 21px;
	left:-1px;
}
.header .line-3,
.header .line-4,
.header .line-5 {
	margin-left: 45px;
}
.header .line-3 {
	font-size: 32px;
}
.header .line-4 {
	font-size: 43px;
}
.header .line-5 {
	font-size: 25px;
}
.header .amp {
	position: absolute;
	top: 0;
	left: -20px;
}

