<!-- Here is a block for screaming out about something --> 
{% include sidebar-anounce.html %} 

<section id="contact" class="contact">
    <h2 class="headline">Contact information</h2>
    <ul class="contact-list">   
        <li class="contact-item"><span class="icon icon-email"></span> <a href="mailto:info@schoolofma.org">info@schoolofma.org</a></li>
        <li class="contact-item"><span class="icon icon-twitter"></span> <a href="https://twitter.com/schoolofmaaa">schoolofmaaa</a></li>
        <li class="contact-item"><span class="icon icon-fb"></span> <a href="https://www.facebook.com/pages/School-of-Machines-Making-and-Make-Believe/736062943100977">School of Machines, Making&nbsp;&amp;&nbsp;Make-Believe</a></li>
        <li class="contact-item"><span class="icon2 icon-instagram2"></span><a href="https://instagram.com/schoolofma/" >  schoolofma</a></li>
    </ul>
</section>

<div class="newsletter">
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: transparent; 
            clear:left; 
            margin: 30px auto 0;
        }

        #mc_embed_signup form {
            padding: 0;
        }

        #mc_embed_signup .field {
            width: 100%;
            float: left;
        }

        #mc_embed_signup label {
            font-weight: normal;
            padding: 0;
        }
        #mc_embed_signup input {
            background: transparent;
            border-color: #444;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom-width: 3px;
            color: #444;
        }
        #mc_embed_signup input:focus {
            border-color: #000;
            outline: none;
            background: #59a55c;
            color: #222;
        }
        #mc_embed_signup input.email,
        #mc_embed_signup input.button {
            clear: none;                            
            margin: 0;
        }
        #mc_embed_signup input.email {
            float: left;
            width: 76%;
            min-width: 110px;
        }
        #mc_embed_signup input.button {
            float: right;
            font-weight: normal;
            width: 18%;
            min-width: 33px;
            background: transparent;
            border-radius: 0;
            color: #444;
            font-size: 40px;
        }
        #mc_embed_signup input.button:hover,
        #mc_embed_signup input.button:focus {
            color: #59a55c;
            background: transparent;
        }
        #mc_embed_signup .sub {
            font-size: 13px;
            display: block;
        }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="http://schoolofma.us8.list-manage2.com/subscribe/post?u=8a582affe02962d9e73f8ee6d&amp;id=d71088c8ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="clear">
                <h2 class="headline">Subscribe to our newsletter</h2>
                <!--label for="mce-EMAIL">Subscribe to&nbsp;our&nbsp;newsletter</label-->
                <p class="sub">Receive updates about our&nbsp;programs and events</p>
            </div>
            <div class="field">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_8a582affe02962d9e73f8ee6d_d71088c8ff" value=""></div>
                <input type="submit" value="⍄" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </form>
    </div>

    <!--End mc_embed_signup-->
</div>


