{% include header.html %}

		<div class="content__wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 ">

					{% include nav.html %}
				

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">

							{{ content }}
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col">

							{% if paginator.total_pages > 1 %}
							<div class="pagination">
							  {% if paginator.previous_page %}
							    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
							  {% else %}
							    <span>&laquo; Prev</span>
							  {% endif %}

							  {% for page in (1..paginator.total_pages) %}
							    {% if page == paginator.page %}
							      <em>{{ page }}</em>
							    {% elsif page == 1 %}
							      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
							    {% else %}
							      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
							    {% endif %}
							  {% endfor %}

							  {% if paginator.next_page %}
							    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
							  {% else %}
							    <span>Next &raquo;</span>
							  {% endif %}
							</div>
							{% endif %}
						</div>
						
					</div>

				</div>
					
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  col sidebar">
					{% include sidebar.html %}
				</div>
				
			</div>
		</div>


	</div><!-- /container -->

{% include footer.html %}
